# Node modules
node_modules/

# Dependency directories
/*/node_modules/
/.pnp/
.pnp.js

# Cached files
*.pnp
*.pnp.js
*.zip
*.rar

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Build output
/build
/dist
/.next
/out
/.nuxt
/public

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
Thumbs.db
